<div class="col-lg-12">
  <section class="box ">

    <div class="content-body">

        <div *ngIf="type === 'emp'">
          <p-table [columns]="cols" [value]="lists" selectionMode="single" [(selection)]="selectedAddress" [scrollable]="true" 
              [responsive]="true" scrollHeight="200px"(onRowSelect)="onRowSelectEmployee(1)">

              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="text-align: center;cursor: pointer">
                          {{col.header}}
                          <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr class="unread">
                      <td *ngFor="let col of columns"   (click)="onRowSelectEmployee(rowData)"  style="text-align: center;cursor: pointer">
                          
                          <div *ngIf = "col.field==='photoName'">
                              <span><img [src]="getEmployeeImg(rowData[col.field])" alt="" width="20"/></span>
                          </div>
                          <div *ngIf = "col.field!=='photoName'">
                              {{rowData[col.field]}}
                          </div>
                      </td>
                    </tr>
              </ng-template> 
          </p-table>
        </div>
          <div  *ngIf="type === 'physician'">
                    <p-table [columns]="cols" [value]="lists" selectionMode="single" [(selection)]="selectedAddress" [scrollable]="true" 
                        [responsive]="true" scrollHeight="200px"(onRowSelect)="onRowSelectPhysician(1)">

                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                              <tr class="unread">
                                  <td *ngFor="let col of columns"   (click)="onRowSelectPhysician(rowData)"  style="text-align: center;cursor: pointer">
                                      <div *ngIf = "col.field==='photoName'">
                                          <span><img [src]="getPhysicianImg(rowData[col.field])" alt="" width="20"/></span>
                                      </div>
                                      <div *ngIf = "col.field!=='photoName'">
                                          {{rowData[col.field]}}
                                      </div>
                                  </td>
                                </tr>
                        </ng-template> 
                    </p-table>
          </div>
          <div *ngIf="type === 'vendor'">
                  <p-table [columns]="cols" [value]="lists" selectionMode="single" [(selection)]="selectedAddress" [scrollable]="true" 
                        [responsive]="true" scrollHeight="200px"(onRowSelect)="onRowSelectVendor(1)">

                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <!-- <tr class="unread" *ngFor="let l of lists" >
                                <td class="max-texts" (click)="onRowSelectVendor(l)" style="cursor: pointer">
                                  <span><img [src]="getVendorImg(l.photoName)" alt="" width="20"
                                    class="img-circle"/>{{l.firstName}} {{l.lastName}}</span>
                                </td>
                                <td class="max-texts" (click)="onRowSelectVendor(l)" style="cursor: pointer">Occupation: {{l.jobTitle}}</td>
                              </tr> -->
                              <tr class="unread">
                                  <td *ngFor="let col of columns"   (click)="onRowSelectVendor(rowData)"  style="text-align: center;cursor: pointer">
                                      <div *ngIf = "col.field==='photoName'">
                                          <span><img [src]="getVendorImg(rowData[col.field])" alt="" width="20"/></span>
                                      </div>
                                      <div *ngIf = "col.field!=='photoName'">
                                          {{rowData[col.field]}}
                                      </div>
                                  </td>
                                </tr>
                        </ng-template> 
                    </p-table>
            </div>

            <div *ngIf="type === 'patient'">
                      <p-table [columns]="cols" [value]="lists" selectionMode="single" [(selection)]="selectedAddress" [scrollable]="true" 
                        [responsive]="true" scrollHeight="200px"(onRowSelect)="onRowSelectPatient(1)">

                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <!-- <tr class="unread" *ngFor="let l of lists" >
                                <td class="max-texts" (click)="onRowSelectPatient(l)" style="cursor: pointer">
                                  <span><img [src]="getPatientImg(l.photoName)" alt="" width="20"
                                    class="img-circle"/>{{l.firstName}} {{l.lastName}}</span>
                                </td>
                                <td class="max-texts" (click)="onRowSelectPatient(l)" style="cursor: pointer">Occupation: {{l.jobTitle}}</td>
                              </tr> -->
                              <tr class="unread">
                                  <td *ngFor="let col of columns"   (click)="onRowSelectPatient(rowData)"  style="text-align: center;cursor: pointer">
                                      <div *ngIf = "col.field==='photoName'">
                                          <span><img [src]="getPatientImg(rowData[col.field])" alt="" width="20"/></span>
                                      </div>
                                      <div *ngIf = "col.field!=='photoName'">
                                          {{rowData[col.field]}}
                                      </div>
                                  </td>
                                </tr>
                        </ng-template> 
                    </p-table>
            </div>

    </div>
  </section>

</div>
