@media screen and (max-width: 575px){
    .app-ho2-form-label{
      text-align: left;
    }
  }
@media screen and (max-width: 575px){
    .col-sm{
      text-align: center;
    }
    
  }
  @media screen and (min-width: 575px){
    .col-sm{
      text-align: right;
    }
    
  }