
<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding:0px;">
            <ho2-accordion titleName="Agency Information" [titleClassName]="localstore.getThemeBackground()">
                <ng-template #body>
                        <div class="row">
                                <div class="col-7" style="padding:0px">
                                    
                                </div>
                                <div class="col-5">
                                    <div class="col-md app-ho2-edit-right">
                                            <ho2edithelper activeAction="0" showDelete="false" (actionSelected)="editEventSubmit($event)" [saveStatus]="saveStatus"></ho2edithelper>
                                            
                                    </div>
                                </div>               
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-3 app-ho2-form-label">
                                    <label for="Client_ID" class="app-ho2-form-label">Client ID:</label>
                                </div>
                                <div class="col-12 col-sm-5 floating-labels">
                                    <div *ngIf="isEditMode">
                                    </div>
                                    <div *ngIf="!isEditMode">
                                        <p class="col-md-12 app-ho2-mt-label">{{ companyInfo?.normalizedId }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-3 app-ho2-form-label">
                                    <label for="firstName" class="app-ho2-form-label">Name of Organization:</label>
                                </div>
                                <div class="col-12 col-sm-5 floating-labels">
                                    <div *ngIf="isEditMode">
                                        
                                    </div>
                                    <div *ngIf="!isEditMode">
                                        <p class="col-md-12 app-ho2-mt-label">{{ companyInfo?.name }}</p>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-3 app-ho2-form-label">
                                    <label for="lastName" class="app-ho2-form-label">Email:</label>
                                </div>
                                <div class="col-12 col-sm-5 floating-labels">
                                        <div *ngIf="isEditMode">
                                                <input type="text" pInputText class="form-control" name="email" id="email" required [(ngModel)]="companyInfo.email" #email="ngModel">
                                                <span class="bar"></span>
                                                <span *ngIf="f1.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': email.valid, 'glyphicon-remove' : !email.valid}" aria-hidden="true"></span>
                                                <div *ngIf="(f1.submitted && !email.valid) || (email.invalid && (email.dirty || email.touched)) || (!f1.form.valid && companyInfo.email === undefined) || (!f1.form.valid && companyInfo.email === '')" class="text-danger">
                                                    <div class="app-form-validation-error">
                                                        Email is required
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="!isEditMode">
                                                <p class="col-md-12 app-ho2-mt-label">{{ companyInfo?.email }}</p>
                                            </div>
                                </div>
                            </div>
                        
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-3 app-ho2-form-label">
                                    <label for="suffixCodes" class="app-ho2-form-label">Phone No:</label>
                                </div>
                                <div class="col-12 col-sm-5 floating-labels">
                                    <div *ngIf="isEditMode">
                                            <input type="text" pInputText class="form-control" name="phone" id="phone" required [(ngModel)]="companyInfo.phone" #phone="ngModel">
                                            <span class="bar"></span>
                                            <span *ngIf="f1.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': phone.valid, 'glyphicon-remove' : !phone.valid}" aria-hidden="true"></span>
                                            <div *ngIf="(f1.submitted && !phone.valid) || (phone.invalid && (phone.dirty || phone.touched)) || (!f1.form.valid && companyInfo.phone === undefined) || (!f1.form.valid && companyInfo.phone === '')" class="text-danger">
                                                <div class="app-form-validation-error">
                                                    Phone is required
                                                </div>
                                            </div>
                                    </div>
                                    <div *ngIf="!isEditMode">
                                        <p class="col-md-12 app-ho2-mt-label">{{ companyInfo?.phone }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-3 app-ho2-form-label">
                                    <label for="dateofBirth" class="app-ho2-form-label">Website URL:</label>
                                </div>
                                <div class="col-12 col-sm-5">
                                        <div *ngIf="isEditMode">
                                                <input type="text" pInputText class="form-control" name="phone" id="phone" required [(ngModel)]="companyInfo.phone" #phone="ngModel">
                                                <span class="bar"></span>
                                                <span *ngIf="f1.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': phone.valid, 'glyphicon-remove' : !phone.valid}" aria-hidden="true"></span>
                                                <div *ngIf="(f1.submitted && !phone.valid) || (phone.invalid && (phone.dirty || phone.touched)) || (!f1.form.valid && companyInfo.phone === undefined) || (!f1.form.valid && companyInfo.phone === '')" class="text-danger">
                                                    <div class="app-form-validation-error">
                                                        Phone is required
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="!isEditMode">
                                                <p class="col-md-12 app-ho2-mt-label">{{ companyInfo?.phone }}</p>
                                            </div>
                                </div>
                            </div>
                            
                </ng-template>
            </ho2-accordion>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12" style="padding:0px;">
            <ho2-accordion titleName="Locations" [titleClassName]="localstore.getThemeBackground()">
                <ng-template #body>
                    <p-dataTable #dtcomplocations [value]="companyAddresses"  [scrollable]="true" scrollHeight="200px" selectionMode="single" [(selection)]="selectedAddress"
                                 (onRowSelect)="onRowSelectAddress($event)" dataKey="id"
                                 [loading]="isLoading" loadingIcon="fa-spinner" [responsive]="true" [stacked]="stacked">
                        <p-column class="text-muted" field="address1" header="Address 1" [sortable]="true">
                        </p-column>
                        <p-column field="address2" header="Address 2" [sortable]="true"></p-column>
                        <p-column field="city" header="City" [sortable]="true"></p-column>
                        <p-column field="state" header="State" [sortable]="true">
                        </p-column>
                        <p-column field="zipCode" header="Zip" [sortable]="true">
                        </p-column>
                        <p-column field="isPrimary" header="Corporate HQ" [sortable]="true">
                            <ng-template let-compaddr="rowData" pTemplate="body">
                                {{compaddr.isPrimary? 'Yes': 'No'}}
                            </ng-template>
                        </p-column>
                        <p-footer>
                            <div class="ui-helper-clearfix">
                                <button class="btn btn-success" type="button" pButton icon="fa fa-fw fa-plus" style="float:left" (click)="routeAddLocation()" label="Add Location"></button>
                            </div>
                        </p-footer>
                    </p-dataTable>

                </ng-template>
            </ho2-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding:0px;">
            <ho2-accordion titleName="Departments" [titleClassName]="localstore.getThemeBackground()">
                <ng-template #body>
                    <p-dataTable #dtdepartments [value]="companyDepartments"  [scrollable]="true" scrollHeight="200px" selectionMode="single" [(selection)]="selectedDepartment"
                                 (onRowSelect)="onRowSelectDept($event)" dataKey="id"
                                 [loading]="isLoading" loadingIcon="fa-spinner" [stacked]="stacked"  [responsive]="true">
                        <p-column field="name" header="Name" [sortable]="true"></p-column>
                        <p-column class="text-muted" field="description" header="Description" [sortable]="true">
                        </p-column>
                        <p-footer>
                            <div class="ui-helper-clearfix" style="width:100%">
                                <button class="btn btn-success" type="button" pButton icon="fa fa-fw fa-plus" style="float:left" (click)="routeAddDept()" label="Add Department"></button>
                            </div>
                        </p-footer>
                    </p-dataTable>
                </ng-template>
            </ho2-accordion>
        </div>
    </div>
</div>

